/* ------------ base ------------ */
body {
  background: #ffd74c;
}

#Home {
  width: 100%;
  min-height: 600px;
  text-align: center;
  position: relative;
  *zoom: 1;
}
#Home:after, #Home:before {
  content: "";
  display: table;
}
#Home:after {
  clear: both;
}
#Home .news {
  width: 100%;
  position: absolute;
  height: 80px;
  bottom: 0;
  overflow: hidden;
  line-height: 80px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
  zoom: 1;
  text-align: left;
  color: #381e00;
}
#Home .news span {
  display: inline-block;
  padding: 0 20px;
}
#Home .news span.title {
  font-size: 1.75em;
  font-family: 'Montserrat', sans-serif;
  background: #f36039;
  background-color: transparent;
  background-color: rgba(243, 96, 57, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6F36039,endColorstr=#E6F36039);
  zoom: 1;
  text-align: center;
  color: #fff;
}
#Home .news span.latest-news {
  font-size: 1.25em;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 2px 20px rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 768px) {
  #Home {
    min-height: 0;
  }
  #Home .news {
    position: static;
    background-color: transparent;
    background-color: rgba(255, 215, 76, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFD74C,endColorstr=#80FFD74C);
    zoom: 1;
    display: block;
    height: auto;
    line-height: normal;
    color: #333;
  }
  #Home .news span {
    padding: 0 10px;
  }
  #Home .news span.title {
    font-size: 1.25em;
    line-height: 50px;
  }
  #Home .news span.latest-news {
    font-size: 1.25em;
    line-height: 1.75em;
    padding: 10px 0;
    text-shadow: 0 0 0;
  }
}

#Carousel {
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow: hidden;
  position: relative;
}
#Carousel.carousel {
  height: 100%;
  min-height: 600px;
  overflow: hidden;
}
#Carousel.carousel .item, #Carousel.carousel .carousel-inner, #Carousel.carousel .mask {
  height: 100%;
  min-height: 600px;
}
#Carousel.carousel .mask {
  position: absolute;
  width: 100%;
  z-index: 9;
  background: url('../images/dot.png');
}
@media only screen and (max-width: 768px) {
  #Carousel.carousel {
    min-height: 260px;
  }
  #Carousel.carousel .item, #Carousel.carousel .carousel-inner, #Carousel.carousel .mask {
    min-height: 260px;
  }
}

.carousel-fade .carousel-inner .item:nth-child(1) {
  background: url('../images/slider1.jpg?1466762961');
}
.carousel-fade .carousel-inner .item:nth-child(2) {
  background: url('../images/slider2.jpg?1466760024');
}
.carousel-fade .carousel-inner .item:nth-child(3) {
  background: url('../images/slider3.jpg?1466762874');
}
.carousel-fade .carousel-inner .item:nth-child(1), .carousel-fade .carousel-inner .item:nth-child(2), .carousel-fade .carousel-inner .item:nth-child(3) {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
