@import 'compass';
//@import 'screen';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif, 'arial', "微軟正黑體", "Microsoft JhengHei";
//	font-size: 100%;
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.85;
	background: $light-yellow;
}
//h-style
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.8;
	font-family: 'Montserrat', "source-han-sans-traditional", sans-serif,
}
*:hover {
	@include transition(color, .5s, ease-in);
}
//p
p {
	font-size: $l-font;
	font-weight: 200;
	font-family: 'Roboto', "source-han-sans-traditional", sans-serif;
}
a {
	@include transition(color, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
	}
}
.clearfix {
	@include clearfix;
}
ul, li {
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style: none;
}
//element
.btn-default {
	@include border-radius(50px);
	padding: 10px 20px;
    background: $pink;
    color: $white;
	border:0;
	outline:none;
    &:hover, &:active, &:focus, &:active:hover, &:active:focus {
        background: $dark-pink;
    }
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
.plus {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	overflow: hidden;
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: $white;
		box-shadow: 0 5px 10px #000;
		height: 2px;
	}
	&::before {
		@include transform(rotate(45deg));
	}
	&::after {
		@include transform(rotate(-45deg));
	}
}
//section
#wrapper {
//	height: 100%;
	min-height: 100%;
	padding-bottom: 100px;
    @include clearfix;
	#about &, #contact &, #meals &, #space & {
		padding-bottom: 496px;
	}
	> .container {
		overflow: hidden;
	}
}
.section {
	text-align: center;
//	@include full-screen;
	@include clearfix;
	h2 {
		font-weight: 700;
		font-size: 3.5em;
		text-align: center;
		margin-bottom: 30px;
		
	}
}

.navbar {
	@include transparent($yellow,0);
	border-bottom: none;
	text-align: center;
	padding: 8px;
	border-top: 8px solid $yellow;
	h2.logo-big {
		margin: 0 15px;
		width: 116px;
		font-size: $s-font;
		color: $white;
		text-shadow: 0 0 5px rgba($black, .6);
		@include transition(all, .5s, ease-in);
		a {
			display: block;
		}
		img {
			width: 100%;
		}
	}
	h2.past-logo {
		padding: 0;
		margin: 4px;
		width: 86px;
	}
	.navbar-toggle {
		font-size: $l-font;
		padding: 4px 6px;
		position: absolute;
		right: 0;
		top: 3px;
		border-radius: 0;
		border: 0;
		border-top: 1px solid $yellow;
		border-bottom: 1px solid $yellow;
		a {
			color: $white;
		}
	}
	.navbar-nav {
		float: none;
		text-align: center;
		li {
			float: none;
			vertical-align: middle;
			@include inline-block;
			font-size: $l-font;
			letter-spacing: .05em;
			text-shadow: 0 0 5px rgba($black, .6), 0 2px 20px rgba($black, .3);
			a {
				color: $white;
				&:hover, &:focus {
					@include transparent($white,.6);
					color: $white;
				}
				&:focus {
					color: $white;
				}
			}
		}
	}
	@include respond-to (only-mobile){
		@include transparent($yellow,1);
		box-shadow: 0 10px 20px rgba($brown,.3);
		border: 0;
		color: $white;
		padding: 8px 0;
		h2.logo-big {
			width: 86px;
		}
		.inner {
			text-shadow: 0 0 5px rgba($black, .6), 0 2px 20px rgba($black, .3);
		}
		.navbar-nav {
			margin-bottom: 0;
			
			li {
				display: block;
				text-shadow: 0 0 5px rgba($black, .6);
				a {
					padding: 16px 0;
					&:hover, &:focus {
						background: $orange;
						color: $white;
					}
				}
			}
		}
	}
}
.navbar-default {
	.navbar-toggle {
		&:hover, &:focus {
			background: transparent;
		}
	}
	.navbar-collapse {
		border: 0!important;
	}
}
.navbar-header {
	border: 0!important;
}
.past-main {
	@include transparent($yellow,1);
	box-shadow: 0 10px 20px rgba($brown,.3);
}
.info-group {
	padding: 40px 0;
	background: $yellow;
	text-align: center;
	h3 {
		display: inline-block;
		width: 120px;
		height: 120px;
		border: 6px solid $white;
		border-radius: 50%;
		background: $light-yellow;
		text-align: center;
		padding: 14px 0;
		color: $dark-orange;
		i {
			font-size: 50px;
		}
		span {
			font-size: 16px;
			display: block;
			line-height: $xs-font;
		}
	}
	h4 {
		margin: 0 auto;
		font-size: $xl-font;
		> span {
			display: block;
		}
	}
	@include respond-to (normal-mobile){
	}
}
footer {
	@include clearfix;
	background: $orange;
	line-height: 100px;
	#index & , #meals & {
		margin-top: -100px;
	}
	#about &, #contact &, #meals &, #space & {
		margin-top: -495px;
	}
	p {
		color: $white;
	}
}
